* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.List {
  display: flex;
  align-items: center;
  height: 400px;
}
.container {
  margin-left: 230px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
  margin-right: 120px;
}
.button {
  margin-left: 40px;
}
.knop {
  margin-left: 100px;
  margin-right: 27px;
}
.input {
  margin-left: 39px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  padding-right: 42px;
  mask: 100px;
}
