* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.List {
  display: flex;
  align-items: center;
  height: 400px;
}
.container {
  margin-left: 120px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
  margin-right: 120px;
}
.button {
  margin-left: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #363940;
}
.knop {
  margin-left: 80px;
  margin-right: 27px;
}
.input {
  margin-left: 39px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 42px;
  mask-image: url(./Mask.svg);
  mask-position: 12px;
  outline: none;
  position: relative;
  border: none;
}
.Knopka {
  width: 300px;
  display: flex;
  border: 1px solid;
  margin-left: 24px;
  outline: none;
  border: 1px solid #cad1e1;
  border-radius: 4px;
}
